@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 20px;
    font-family: 'Monserrat', sans-serif;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}

/* home section */
#home {
    background-image: url(/images/laptop_chair.jpg);
    background-size:cover;
    background-position:0%;
    position: relative;
    z-index: 1;
}
#home::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #e9e9e9;
    opacity: .5;
    z-index: -1;
}
#home .home_buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    margin-left: 80px ;
}
#home .section_buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 60%;
}
#home .section_button{
    padding: 30px 10px;
    font-size: 15px;
    color: black;
    background-color: transparent;
}
#home .section_button:hover{
    color:#10c9c3;
}
#home .logo_button{
    max-height: 80px;
    padding: 10px 10px;
    align-items: start;
}
#home .contact_button {
    display: inline-block;
    justify-content: end;
    align-items: end;
    padding: 15px 40px;
    font-size: 15px;
    position: relative;
    color: white;
    background-color: #10c9c3;
}

.design_develop_container{
    min-height: 800px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
#home .header_design_develop{
    max-width: 600px;
    padding: 250px 0px;
    justify-content: end;
    flex-direction: row-reverse;
    margin-right: 50px;
}
#home h1{
    display: block;
    width: fit-content;
    height: 4rem;
    font-size: 2rem;
    position: center;
    color: black;
}
#home p{
    display: block;
    width: fit-content;
    line-height: 150%;
    height: 6rem;
    font-size: 18px;
    position: center;
    color:#808080;
    word-break: normal;
}
/* End home Section */



/* About us */
#about_us_front_page {
    background-color: whitesmoke;
}
#about_us_front_page .about_container{
    height:500px;
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    flex-direction: row;
    justify-content: center;
}
#about_us_front_page .about_us{
    width: 800px;
    margin-top: 110px;
    margin-bottom: 110px;
}
#about_us_front_page h1{
    height: 50px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
}
#about_us_front_page p{
    height:fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0.9rem;
    word-spacing: 15%;
    text-align: center;
    word-wrap: break-word;
    color:#808080;
}
#about_us_front_page .signature{
    display: block;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
/* End About us */



/* Professional skills */
#professional_skills .professional_skills_container {
    height: 800px;
    position: relative;
  }

  #professional_skills .professional_skills_container:before {
    content: "";
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 80%);
    z-index: -1;
  }

  #professional_skills .professional_skills_container:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(/images/envelope.jpg) no-repeat top right;
    background-size: contain;
    z-index: -2;
  }
  #professional_skills .professional {
    z-index: 1;
    width: 800px;
    height: 100%;
    padding-top: 250px;
    padding-bottom: 200px;
    margin-left: 80px;
    color: black;
  }
  #professional_skills .skill_container{
    background-color: rgb(192, 192, 192);
    width: 100%;
  }
  #professional_skills .p{
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 15px;
    font-weight: bold;
    font-stretch: 200%;
    word-spacing: 4px;
  }
  #professional_skills .skill{
    background-color: #10c9c3;
    color: white;
    padding: 2px;
    text-align: right;
    font-size: 5px;
  }
  #professional_skills .UIUIX{
    width: 75%;
  }
  #professional_skills .web{
    width: 90%;
  }
  #professional_skills .marketing{
    width: 65%;
  }
  /* End professional skills */


  /* Icons */
#icons {
    height: 300px;
    background-color: #10c9c3;
}
#icons .icons_container{
    display: flex;
    flex-direction: row;
    background-color: azure;
    margin-left: 5%;
    height: 100%;
}
#icons .icons_subcont{
    background-color: red;
    display: flex;
    height: 100%;
    width: 25%;
}
#icons .single_icon{
    width: 35%;
    justify-content: center;
}
#icons .text{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}