@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 20px;
    font-family: 'Monserrat', sans-serif;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}

/* home section */
#home {
    background-image: url(/images/laptop_chair.jpg);
    background-size:cover;
    background-position:0%;
    position: relative;
    z-index: 1;
}
#home::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #e9e9e9;
    opacity: .5;
    z-index: -1;
}
#home .home_buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    margin-left: 80px ;
}
#home .section_buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 60%;
}
#home .section_button{
    padding: 30px 10px;
    font-size: 15px;
    color: black;
    background-color: transparent;
}
#home .section_button:hover{
    color:#10c9c3;
}
#home .logo_button{
    max-height: 80px;
    padding: 10px 10px;
    align-items: start;
}
#home .contact_button {
    display: inline-block;
    justify-content: end;
    align-items: end;
    padding: 15px 40px;
    font-size: 15px;
    position: relative;
    color: white;
    background-color: #10c9c3;
    cursor: pointer;
    transition: opacity 0.15s, box-shadow 0.15s;
}

#home .contact_button:hover {
opacity: 0.8;
box-shadow: 5px 5px 5px rgb(0,0,0,0.15);
}

.design_develop_container{
    min-height: 800px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
#home .header_design_develop{
    max-width: 600px;
    padding: 250px 0px;
    justify-content: end;
    flex-direction: row-reverse;
    margin-right: 50px;
}
#home h1{
    display: block;
    width: fit-content;
    height: 4rem;
    font-size: 2rem;
    position: center;
    color: black;
}
#home p{
    display: block;
    width: fit-content;
    line-height: 150%;
    height: 6rem;
    font-size: 18px;
    position: center;
    color:#808080;
    word-break: normal;
}
/* End home Section */



/* About us */
#about_us_front_page {
    background-color: whitesmoke;
}
#about_us_front_page .about_container{
    height:500px;
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    flex-direction: row;
    justify-content: center;
}
#about_us_front_page .about_us{
    width: 800px;
    margin-top: 110px;
    margin-bottom: 110px;
}
#about_us_front_page h1{
    height: 50px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
}
#about_us_front_page p{
    height:fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0.9rem;
    word-spacing: 15%;
    text-align: center;
    word-wrap: break-word;
    color:#808080;
}
#about_us_front_page .signature{
    display: block;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
/* End About us */



/* Professional skills */
#professional_skills .professional_skills_container {
    height: 800px;
    position: relative;
  }

  #professional_skills .professional_skills_container:before {
    content: "";
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 80%);
    z-index: -1;
  }
  #professional_skills .professional_skills_container:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(/images/envelope.jpg) no-repeat top right;
    background-size: contain;
    z-index: -2;
  }
  #professional_skills .professional {
    z-index: 1;
    width: 800px;
    height: 100%;
    padding-top: 250px;
    padding-bottom: 200px;
    margin-left: 80px;
    color: black;
  }
  #professional_skills .skill_container{
    background-color: rgb(192, 192, 192);
    width: 100%;
  }
  #professional_skills .p{
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 15px;
    font-weight: bold;
    font-stretch: 200%;
    word-spacing: 4px;
  }
  #professional_skills .skill{
    background-color: #10c9c3;
    color: white;
    padding: 2px;
    text-align: right;
    font-size: 5px;
  }
  #professional_skills .UIUIX{
    width: 75%;
  }
  #professional_skills .web{
    width: 90%;
  }
  #professional_skills .marketing{
    width: 65%;
  }
  /* End professional skills */


  /* Icons */
#icons {
    height: 300px;
    background-color: #10c9c3;
}
#icons .icons_container{
    display: flex;
    flex-direction: row;
    background-color:  #10c9c3;
    margin-left: 0%;
    height: 100%;
}
#icons .icons_subcont{
    display: flex;
    height: 100%;
    width: 25%;
}
#icons .single_icon{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#icons .icon{    
    display: block;
    margin-left: auto;
    margin-right: 8%;
}
#icons .text{
    width: auto;
    color: #e9e9e9;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* **********icons end************ */

/* Products */
#products .products-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0px;
}
#products .single-photo{
   display: flex;
    position: relative;
}
#products .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#products .overlay:hover{
    opacity: 1;
}
#products .img{
    width: 100%;
    height: 100%;
}
@media (max-width: 1000px) {
    #products .single-photo{
        flex-basis: 2%;
    }
}
@media (max-width: 500px){
   #products .single-photo{
        flex-basis: 10%;
    }
}
@media (max-width: 300px){
    #products .single-photo{
         flex-basis: 30%;
     }
 }
 #products .load_more{
    display: flex;
    height: 100px;
    width: 100%;
    background-color:whitesmoke;
    align-items: center;
    justify-content: center;
 }
 #products .load{
    color: rgb(180, 180, 180);
    font-size: 18px;
    font-weight: bold;
    font-stretch: 200%;
 }
 #products .load:hover{
  color: gray;
}

 /* WORK PROCESS */
 #work_process .process_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 80px;
    margin: 0;
    background-color: white;
 }
 #work_process .header{    
    display: inline-flex;
    flex-direction: column;
    position:relative;
    width: 100%;
    margin: 0;
 }
#work_process .video{
    margin-top: 40px;
    width: 100%;
    max-width: calc(100% - 70px);
    box-sizing: border-box;
    position: relative;
    justify-content: center;
    align-items: center;
 }
 #work_process .video video {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
 #work_process .text{
    display: flex;    
    justify-content: center;
    align-items: center;
 }
 #work_process .description{
    display: flex;
    padding-left: 30%;
    padding-right: 30%;
    font-size: 17px;
    text-align: center;
    word-wrap: break-word;
    margin-top: 30px;
    color: rgb(180, 180, 180);
 } 
  /* WORK PROCESS END */

   /* EXPERTISE */
   #expertise .expertise_container {
    background-color: whitesmoke;
    padding: 80px;
  }
  
  #expertise .exp_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
  }  
  #expertise .exp_field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }  
  #expertise .small_icon {
    flex-shrink: 0;
  }
  #expertise h1{
    font-stretch: expanded;
    font-size: 17px;
    font-weight: bold;    
    padding-top: 30px;
  }
  #expertise p1{
    font-size: 16px;
    padding-top: 15px;
    color:  gray;
    word-wrap: break-word;
  }
  @media (min-width: 400px) {
    #expertise .exp_grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  @media (min-width: 650px) {
    #expertise .exp_grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (min-width: 768px) {
    #expertise .exp_grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (min-width: 992px) {
    #expertise .exp_grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  /******************************************/ 
  /* CITE SECTION */
  #quote{
    background-color: #10c9c3;
    height: auto;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 8% 25% 8% 25%;
  }
  #quote cite{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    align-items: center;
    padding-bottom: 20px;
    word-wrap: break-word; 
    font-style: normal;   
  }
  #quote p{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }
    /******************************************/ 
    /* LOGOS SECTION */
    #clients {
      background-color: white;
      display: flex;
      padding: 2% 5% 2% 5%;
      flex-wrap: wrap;
    }
  #clients .clients_container{
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
  }
  #clients .client_logo{
    padding: 10px;
  }
  @media (min-width: 400px) {
    .clients_container {
        flex: 50%
    }
}
@media (min-width: 769px) {
  .clients_container {
    flex: 25%
  }
}  
@media (min-width: 1025px) {
  .clients_container {
    flex: 20%
  }
}  
/**********************************/
#contact {
  background-color: whitesmoke; 
  padding: 5% 25% 5% 25%;
}

#contact .contact_text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#contact p1 {
  font-size: 16px;
  font-weight: 500;
  word-wrap: break-word;
  color: gray;
  text-align: center;
  padding-top: 2%;
}

#contact .form_input {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}

#contact .form_contact input,
#contact .form_comment input {
  font-size: 15px;
  border: none;
  margin-bottom: 20px;
  margin-right: 20px;
  height: 40px;
  width: 80%;
}

#contact .form_contact input::placeholder,
#contact .form_title input::placeholder,
#contact .form_comment input::placeholder {
  border: none;
  text-align: start;
}

#contact .form_contact{
  display: flex;
  width: 80%;
}

#contact .form_title,
#contact .form_comment {
  display: flex;
  width: 80%;
}

#contact .form_title input {
  font-size: 15px;
  border: none;
  margin-bottom: 20px;
  margin-right: 20px;
  height: 40px;
  width: 100%;
}
#contact .form_comment input {
  height: 200px;
  width: 100%;
}
#contact .button_send_message {
  font-size: 12px;
  font-weight: 600;
  color: white;
  background-color: rgb(0, 199, 199);
  border: none;
  width: 150px;
  height: 45px;
  cursor: pointer;
  transition: opacity 0.15s, box-shadow 0.15s;
}

#contact .button_send_message:hover {
  opacity: 0.8;
  box-shadow: 5px 5px 5px rgb(0,0,0,0.15);
}
/********************************************/

#footer {
  display: flex;
  background-color: rgb(31, 31, 31);
  padding: 5%;
}
#footer .author{
  display: flex;
  flex-direction: column;
  width: 30%;
}
#footer h1{
  font-size: 20px;
  color: white;
  padding-bottom: 20px;
}
#footer p1{
  font-size: 15px;
  color: lightgray;
  padding-bottom: 8px;
}
#footer .author_contact{
  display: flex;
  flex-direction: column;
  width: 20%;
}
#footer .footer_links{
  display: flex;
  flex-direction: row;
  width: 20%;
}
#footer .block1{
  display: flex;
  flex-direction: column;
  width: 50%;
}
#footer a{
  color: lightgray;
  font-size: 15px;
  padding-bottom: 5px;
}
#footer .footer_socials{
  display: flex;
  flex-direction: column;
  padding-left: 15%;
}